<div class="header">Общая информация</div>
<form class="form">
  <mat-form-field>
    <mat-label>Имя</mat-label>
    <input
      matInput
      placeholder="Введите имя"
      required
      [formControl]="clientInfoForm.controls.firstName"
      class="input"
    />
    @if(clientInfoForm.controls.firstName.hasError('required')){
    <mat-error> Имя обязательно для заполнения </mat-error>
    } @if(clientInfoForm.controls.firstName.hasError('minlength') ||
    clientInfoForm.controls.firstName.hasError('maxlength')){
    <mat-error> Длина имени должна быть от 2 до 50 символов </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Фамилия</mat-label>
    <input
      matInput
      placeholder="Введите фамилию"
      required
      [formControl]="clientInfoForm.controls.lastName"
      class="input"
    />
    @if(clientInfoForm.controls.lastName.hasError('required')){
    <mat-error> Фамилия обязательна для заполнения </mat-error>
    } @if(clientInfoForm.controls.lastName.hasError('minlength') ||
    clientInfoForm.controls.lastName.hasError('maxlength')){
    <mat-error> Длина фамилии должна быть от 2 до 50 символов </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Отчество</mat-label>
    <input
      matInput
      placeholder="Введите отчество"
      [formControl]="clientInfoForm.controls.middleName"
      class="input"
    />
    @if(clientInfoForm.controls.middleName.value !== '' &&
    (clientInfoForm.controls.middleName.hasError('minlength') ||
    clientInfoForm.controls.middleName.hasError('maxlength'))){
    <mat-error> Длина фамилии должна быть от 2 до 50 символов </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пол</mat-label>
    <mat-select [formControl]="clientInfoForm.controls.gender">
      <mat-option value="male">Мужской</mat-option>
      <mat-option value="female">Женский</mat-option>
    </mat-select>
    @if(clientInfoForm.controls.gender.hasError('required')){
    <mat-error> Выберите пол </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Дата рождения</mat-label>
    <input
      matInput
      [formControl]="clientInfoForm.controls.birthDate"
      [matDatepicker]="picker"
      class="input"
    />
    <mat-hint>ДД/ММ/ГГГГ</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if(clientInfoForm.controls.birthDate.hasError('required')){
    <mat-error> Укажите дату рождения </mat-error>
    } @if(clientInfoForm.controls.birthDate.hasError('forbiddenAge')){
    <mat-error> Возраст только от 18 лет </mat-error>
    } @if(clientInfoForm.controls.birthDate.valid){
    <p>All good</p>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      required
      placeholder="Введите email"
      type="email"
      [formControl]="clientInfoForm.controls.email"
      class="input"
    />
    @if(clientInfoForm.controls.email.hasError('required')){
    <mat-error> Email обязателен для заполнения </mat-error>
    } @if(clientInfoForm.controls.email.hasError('email')){
    <mat-error> Введите корректный email </mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Телефон</mat-label>
    <input
      matInput
      required
      placeholder="Пример +7 (XXX) XXX-XX-XX"
      type="tel"
      [formControl]="clientInfoForm.controls.phone"
      class="input"
    />
    @if(clientInfoForm.controls.phone.hasError('required')){
    <mat-error> Телефон обязателен для заполнения </mat-error>
    } @if(clientInfoForm.controls.phone.hasError('invalidPhone')){
    <mat-error> Введите телефон в формате +7 (XXX) XXX-XX-XX </mat-error>

    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Серия и номер паспорта</mat-label>
    <input
      matInput
      required
      placeholder="Пример: 1111 111111"
      type="text"
      [formControl]="clientInfoForm.controls.passport"
      class="input"
    />
    @if(clientInfoForm.controls.passport.hasError('required')){
    <mat-error> Паспортные данные обязательны </mat-error>
    } @if(clientInfoForm.controls.passport.hasError('invalidPassport')){
    <mat-error> Формат: 1234 123456 </mat-error>
    }
  </mat-form-field>
</form>
