<mat-stepper orientation="vertical" #stepper class="content">
  <mat-step
    [completed]="
      clientInfoForm()?.clientInfoForm?.valid &&
      addressForm()?.addressForm?.valid
    "
  >
    <ng-template matStepLabel>Данные клиента</ng-template>
    <app-client-info />
    <app-address-form />
  </mat-step>
  <mat-step
    [completed]="
      bankDetailsForm()?.bankDetailsForm?.valid &&
      transactionInfoForm()?.transactionInfoForm?.valid
    "
  >
    <ng-template matStepLabel>Банковские реквизиты</ng-template>
    <app-bank-details-form />
    <app-transaction-info-form />
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Дополнительные документы</ng-template>
    <app-documents-form />
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Завершающий этап</ng-template>
    @if(!isValidForm()){
    <p class="end_p">Заполните все поля</p>
    } @else {
    <p class="end_p">Вы заполнили все поля</p>
    }
    <button matButton matStepperPrevious>Назад</button>
    <button matButton (click)="sendData()" [disabled]="!isValidForm()">
      Отправить
    </button>
    <button matButton (click)="stepper.reset()">Очистить</button>
  </mat-step>
</mat-stepper>
